/* Estrutura do site ***********/

body {
    background: #f4f2ec url(img/fundo.png) repeat-x;
    font-family: 12px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

#container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

a:link,
a:active,
a:visited {
    color: #af670a;
    text-decoration: none;
}

a:hover {
    color: #227115;
}

/***** Logo *******/

#logo h1 {
    float: left;
}

#logo a {
    width: 248px;
    height: 21px;
    background: url(img/logo.png) no-repeat;
    text-indent: -9999px;
    display: block;
}

/**** Barra de navegação ******/

#header {
    display: flex;
    align-items: center;
    height: 70px;
    box-sizing: border-box;
    justify-content: space-between;
}

nav ul {
    margin: 20px;
    list-style: none;
    float: right;
}

nav ul li {
    float: left;
}

nav ul li a:link {
    display: block;
    margin-right: 20px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid #535858;
}

/**** Principal*****/

#conteudo {
    width: 710px;
    float: left;
}

aside {
    width: 350px;
    float: right;
    background: #ebe7dd;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

section#visita {
    background: #cdc8b1;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;
}

section#galeria {
    padding: 0 27px 0 27px;
}

section#galeria a {
    display: block;
    background: url(img/fundo-foto.png) no-repeat;
    float: left;
    padding: 17px 15px 17px 15px;
    margin: 10px 0 0 20px;
}

section#galeria img {
    margin-left: 2px;
    margin-top: 3px; 
}

section#galeria img:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease; /* Efeito suave */
}

article#video {
    float: left;
    width: 310px;
}

article#mapa {
    float: left;
    width: 310px;
    margin-left: 37px;
}

article#exposicoes {
    float: left;
    width: 310px;
}

article#historia {
    float: left;
    width: 310px;
    margin: 15px 0 0 37px;
}

h3 {
    color: #227115;
    font-size: 1.0em;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h4 {
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;
}

/**** Rodapé *******/

footer {
    clear: both;
    padding: 20px 0 5px 0;
    text-align: center;
    background: url(img/fundo-rodape.png) no-repeat center top;
    margin-top: 20px;
    flex-direction: column;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

footer ul li a {
    padding: 2px 10px;
    text-transform: uppercase;
}

/**** Formulários ******/

input {
    height: 20px;
    width: 95px;
    background: #fff;
    border: none;
    font-size: 1em;
}

input.campo {
    border: 1px solid #ada484;
}

input.botao {
    background: #86521a;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
}

fieldset {
    border: none;
}

legend {
    display: none;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem; 
}

#menu a {
    display: block;
}

/* Aqui vou deixar o menu invisível para desktop */
#btn-mobile {
    display: none;
}

/* Responsividade */

@media (max-width: 600px) {
    #principal, #postagens {
        flex-direction: column;
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    #container {
        width: 100%;
        max-width: 100%;
    }

    #conteudo, aside  {
        width: 100%;
        float: none;
    }

    #postagens {
        margin-bottom: 16px;
    }

    #capa {
        display: flex;
        justify-content: center;
    } 

    #capa img{
        width: 100%;
        height: auto;
        display: block;
    }

    #menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background-color: #af670a;
        height: 0;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    /* CORREÇÃO: menu fechado não cobre o site */

    #menu {
        opacity: 0;
        pointer-events: none;
    }

    /* CORREÇÃO: menu aberto aparece normalmente */
    #nav.active #menu {
        opacity: 1;
        pointer-events: auto;
        background-color: #af670a; 
    }

    article#mapa {
        margin-left: 0!important;
    }

    article#historia {
        margin-left: 0!important;
    }

    #menu li a {
        color: #fff;
    }

    #menu a:hover {
        color: #000;
    }

    nav ul {
        margin: 0!important;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
    }

    #btn-mobile {
        position: absolute;
        display: flex;
        top: 28px;
        right: 10px;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after, #hamburguer::before  {
        content:'';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor; /* currentColor -> É uma variável que respeitará a cor definida em todos os elementos com o nome hamburguer, ou seja, neste caso, herdará a cor preta */
        margin-top: 5px;
        transition: .3s;
        position: relative;
        background: black;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    #depoimento { 
        width: 100%; 
        text-align: center;
    }
         
    #depoimento img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    footer ul { 
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    footer ul li a { 
        display: block; 
        margin: 5px 0; 
        flex-direction: column;
    } 

    footer p.copyright { 
        margin-top: 15px;
        text-align: center;
        text-transform: uppercase;
    }
    
@media (hover: hover) {
    a:hover {
        color: #227115;
    }
}
}





   

  
    



